.popup__close_form {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -48px;
    left: 438px;
    width: 32px;
    height: 32px;
    background-image: url(../../../../image/popup__close.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    cursor: pointer;
}

.popup__close_form:hover {
    opacity: 0.6;
}

@media (max-width: 600px) {
    .popup__close_form {
        top: -36px;
        left: 262px;
        width: 20px;
        height: 20px;
    }
}