.popup__button_inactive {
    border: 1px solid #000000;
    color: #000000;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    opacity: 0.2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}