.popup__input-error_type_active {
    margin: 0;
    padding: 0;
    margin-bottom: -12px;
    height: 12px;
    display: flex;
    margin-left: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
}

@media (max-width: 600px) {
    .popup__input-error_type_active {
        margin-left: 22px;
    }
}
