
.header {
    max-width: 880px;
    margin: 45px auto 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 950px) {
    .header {
        margin-bottom: 42px;
        margin-top: 28px;
    }
}

